.git
.gitignore
node_modules
.pnpm-store
.pnpm-store-user
**/node_modules
**/dist
**/.turbo
**/.next
**/.cache
**/*.tsbuildinfo
**/data/*.db
**/data/*.sqlite
.env.local
.envrc
.vscode
.idea
*.log
coverage
.tmp
